.body{
    text-align: center;
    padding-left: 500%;
}

.table{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px;
      border-radius: (5px);
        margin:50px auto;
}

tbody tr:hover {
    background: yellow;
  }


